article {
  width: 100px;
  position: relative;
  text-align: center;
  margin: 16px;
}

article span {
  background-color: #bc4c2a;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 8px;
  padding: 4px;
}

article p {
  font-size: 10px;
}
